<b>DISCLAIMER: I write this to learn the PSVita system more easily. I can’t guarantee the accuracy of the information presented here.<b>

This post is part of my PS Vita development series. Feel free to check the other posts from the links below.
<ol>
    <li><a href="{{ site.baseurl}}/log/2017/08/25/tinkering-my-vita.html">Tinkering My PS Vita</a></li>
    <li><a href="{{ site.baseurl}}/log/2018/12/12/hello-world-vita.html">Tinkering My PS Vita: Hello World</a></li>
    <li><a href="{{ site.baseurl}}/log/2018/12/16/interlude-emulator.html">Tinkering My PS Vita Interlude: Emulator</a></li>
    <li><a href="{{ site.baseurl}}/log/2019/06/04/interlude-workspace.html">Tinkering My PS Vita Interlude: My Workspace</a></li>
</ol>
Now that has been said, let's go.
